body {
    background-color: black;
    color: chartreuse;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

#background-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.container {
    border: 15px double chartreuse;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    background: black;
    z-index: 1;
}

#enter{
    text-align: center;
}

p {
    margin: 10px 0;
    font-size: 18px;
}

footer {
    position: absolute;
    width: 100%;
    padding: 20px;
    text-align: right;
    z-index: 1;
}

footer .social-media {
    list-style: none;
    display: inline-flex;
    gap: 25px;
}

footer .social-media li {
    display: inline-block;
}

footer .social-media li a img {
    width: 30px;
    height: auto;
    transition: 0.3s;
}

footer .social-media li a:hover img {
    animation: logo_glitch 0.5s infinite;
}

@keyframes logo_glitch {
    0% {
        transform: translate(0);
        filter: brightness(100%);
    }
    20% {
        transform: translate(2px, -2px);
        filter: brightness(150%);
    }
    40% {
        transform: translate(-2px, 2px);
        filter: brightness(200%);
    }
    60% {
        transform: translate(2px, -2px);
        filter: brightness(150%);
    }
    80% {
        transform: translate(0);
        filter: brightness(100%);
    }
    100% {
        transform: translate(-2px, 2px);
        filter: brightness(200%);
    }
}
